<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}</title>
        <meta name="description" content="{{page.title}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme-serpent.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/one.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body data-smooth-scroll-offset="77">
      {{ content }}
        <div class="nav-container"> </div>
        <div class="main-container">
            <section id="order" class="switchable imagebg height-100" data-overlay="2">
                <div class="background-image-holder"><img alt="background" src="assets/img/basseyn-v-krylatskom.jpg"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7 switchable__text">
                            <h1 class="title-x">{{page.section_1_title}}</h1>
                            <p class="lead text-x">{{page.section_1_description | newline_to_br}}</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="boxed boxed--lg bg--white boxed--border boxed-form">
                                <h4>{{page.section_1_form_title}}</h4>
                                <p>{{page.section_1_form_subtitle}}</p>
                                <form action="" name="orderform" id="orderform" method="post">
                                    <div class="row">
                                      <div class="col-xs-12"> <input type="text" name="name" placeholder="Ваше имя" required="required"> </div>
                                        <div class="col-xs-12"> <input type="text" name="phone" placeholder="Телефон" required="required"> </div>
                                        <div class="col-xs-12"> <button type="submit" class="btn btn--primary type--uppercase">{{page.section_1_button}}</button> </div>
                                        <div class="col-xs-12 agreement"> <span class="type--fine-print">Отправляя заявку, вы соглашаетесь с <a href="#">Политикой</a> в отношении обработки персональных данных </span></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center section-group">
                <div class="container">
                    <div class="row">
                        <h1 class="title-a text-center">{{page.section_2_title}}</h1>
                        <div class="col-sm-4">
                            <div class="feature feature-1"> <img alt="Image" src="assets/img/grouppa_deti.jpg">
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>{{page.section_2_subtitle_1}}</h3>
                                    <p class="lead">{{page.section_2_desc_1}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1"> <img alt="Image" src="assets/img/grouppa_vzroslye.jpg">
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>{{page.section_2_subtitle_2}}</h3>
                                    <p class="lead">{{page.section_2_desc_2}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1"> <img alt="Image" src="assets/img/basseyn_v_krylatskom_1.jpg">
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <h3>{{page.section_2_subtitle_3}}</h3>
                                    <p class="lead">{{page.section_2_desc_3}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--sm text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <div class="cta">
                                <a class="btn btn--primary btn--lg type--uppercase" href="#order">
                                    <span class="btn__text">{{page.section_2_button}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row">
                          <div class="col-sm-6 col-md-5">
                            <div class="accordion__content">
                                <p class="lead section-text">{{page.section_3_text | newline_to_br}}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider box-shadow-wide border--round" data-arrows="true" data-paging="true">
                                <ul class="slides">
                                    <li> <img alt="img" src="assets/img/slider_1.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/slider_2.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/slider_3.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/basseyn_v_krylatskom_2.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/basseyn_v_krylatskom_3.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/basseyn_v_krylatskom_4.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/basseyn_v_krylatskom_5.jpg"> </li>
                                    <li> <img alt="img" src="assets/img/basseyn_v_krylatskom_1.jpg"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="map-container"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3198654919856!2d37.4408209157422!3d55.75294549944864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5492cd1da0073%3A0x4760161cfc6ec927!2sKrylatskaya%2C+2%D1%815%2C+Moskva%2C+121552!5e0!3m2!1sen!2sru!4v1516449412061"></iframe> </div>
                            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12 col-xs-12 col-xs-offset-0">
                                <h3>{{page.section_4_title | newline_to_br}}</h3>
                                <p class="lead">{{page.section_4_text_1 | newline_to_br}}</p>

                                <p class="lead">{{page.section_4_text_2 | newline_to_br}}<br></p>

                                <p class="lead">{{page.section_4_text_3 | newline_to_br}}</p>
                                <div class="cta">
                                    <a class="btn btn--primary btn--lg type--uppercase" href="#order">
                                        <span class="btn__text">{{page.section_4_button}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter47376601 = new Ya.Metrika2({
                            id:47376601,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/tag.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks2");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/47376601" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <script src="assets/js/jquery-3.1.1.min.js"></script>
        <script src="assets/js/flickity.min.js"></script>
        <script src="assets/js/parallax.js"></script>
        <script src="assets/js/smooth-scroll.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script>
            $(document).ready(function () {
                $("#orderform").submit(function () {
                    event.preventDefault();
                    // Получение ID формы
                    var formID = $(this).attr('id');
                    // Добавление решётки к имени ID
                    var formNm = $('#' + formID);
                    $.ajax({
                        type: "POST",
                        url: 'formhandler.php',
                        data: formNm.serialize(),
                        success: function (data) {
                            // Вывод текста результата отправки
                            $(formNm).html('<span class="sbmt_text">' + data + '</span>');
                        },
                        error: function (jqXHR, text, error) {
                            // Вывод текста ошибки отправки
                            $(formNm).html(error);
                        }
                    });
                    return false;
                });
            });
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', '123123', 'auto'); ga('send', 'pageview');
        </script>

        <!-- BEGIN JIVOSITE CODE {literal} -->
        <script type='text/javascript'>
        (function(){ var widget_id = 'aKIMDsj6Vx';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
        <!-- {/literal} END JIVOSITE CODE -->
    </body>

</html>
